@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-body: 'Open Sans', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {

    --background: #0a0a0a;
    --foreground: #ededed;
    --color-neon: #60a785;
  }
}
a{
  text-decoration: none;
}
a:hover{
  color: var(--color-neon);
}

body {
  background: var(--background);
  color: var(--color-neon);
  font-family: var(--font-body);
}
